@font-face {
  font-family: "Digital";
  src: url("assets/fonts/digital/DigitalNumbers400.ttf");
}
@font-face {
  font-family: "Mine_Sweeper";
  src: url("assets/fonts/mine_sweeper/mine-sweeper.ttf");
}
html {
  width: 100vw;
  height: 100vh;
  font-size: 12pt;
}
body {
  background: #2f2f2f;
}
table.all {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-collapse: collapse;
  background-color: rgb(192, 192, 192);
}
table {
  border-collapse: collapse;
  background-color: rgb(192, 192, 192);
}
th {
  margin: 0.2rem;
  height: 2rem;
  font-size: 1.8rem;
  color: red;
  font-family: "Digital", Fallback, sans-serif;
}
.digitalBg {
  background-color: rgb(78, 0, 0);
}
td {
  color: red;
  text-align: center;
  width: 24px;
  height: 24px;
  cursor: pointer;
  background-size: contain;
  font-size: 1rem;
  padding: 0;
  font-family: "Mine_Sweeper", Fallback, sans-serif;
}
.closed {
  background-image: url("./assets/svg/closed.svg");
  font-size: 0;
}
.found {
  background-image: url("./assets/svg/found_mine.svg");
  font-size: 0;
}
.mine_exploded {
  background-image: url("./assets/svg/mine_exploded.svg");
  font-size: 0;
}
.mine_show {
  background-image: url("./assets/svg/mine_show.svg");
  font-size: 0;
}
.uncover {
  background-image: url("./assets/svg/uncover.svg");
}
.reset {
  background-image: url("./assets/svg/reset_button.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
.border_left_right {
  cursor: default;
  background-image: url("./assets/svg/border_left_right.svg");
  background-size: contain;
}
.border_top_bottom {
  cursor: default;
  background-image: url("./assets/svg/border_top_bottom.svg");
  background-size: contain;
}
.border_top_right {
  cursor: default;
  background-image: url("./assets/svg/border_top_right.svg");
  background-size: contain;
}
.border_bottom_right {
  cursor: default;
  background-image: url("./assets/svg/border_bottom_right.svg");
  background-size: contain;
}
.border_top_left {
  cursor: default;
  background-image: url("./assets/svg/border_top_left.svg");
  background-size: contain;
}
.border_bottom_left {
  cursor: default;
  background-image: url("./assets/svg/border_bottom_left.svg");
  background-size: contain;
}
